extends layouts/index.pug

block styles
    link(rel="stylesheet", href="/css/index.css")

block contents
    header.header.pin
        .header-inner
            .header-logo
                a(:href="'javascript:;'")
                    img(src="/images/logo.png")

            nav.header-nav
                each item in menus
                    a.header-nav-item(href="javascript:;") #{item.title}
