.qianli-breadcrumb
  position relative
  display flex
  column-gap 5px

.qianli-breadcrumb-item
  font-size: 16px
  color: #01040A

  &.active
    color #796baf

.qianli-breadcrumb-separator
  position relative
