.qianli-button
  display inline-block
  padding 8px 20px
  font-size 16px
  color #b3b4b7
  border 1px solid #b3b4b7
  transition all .48s

  &[round]
    border-radius 100px

  &.active
  &:hover
    color #fff
    background-color rgb(64, 50, 125)
    border-color rgb(64, 50, 125)
