.qianli-button
  display inline-block
  padding 8px 20px
  font-size 16px
  color #b3b4b7
  border 1px solid #b3b4b7
  transition all .48s

  &[round]
    border-radius 100px
  &[small]
    min-width 90px
    padding 4px 10px
    font-size 14px
    color #766cab
    box-shadow 0 15px 30px -10px rgba(97,97,97,15%)

  &.active
  &:hover
    color #fff
    background-color rgb(64, 50, 125)
    border-color rgb(64, 50, 125)
