.header
    position fixed
    top 0
    left 0
    z-index 999
    width 100%
    transition all 480ms

    &:hover
        background-color #fff
        .header-nav-item
            color #333

    &.pin
        position fixed
        background #fff
        border-bottom none
        box-shadow 0 0px 2px 0 rgba(0, 0, 0, 18%)

.header-inner
    position relative
    display flex
    align-items center
    justify-content flex-end
    border-bottom 1px solid rgba(255, 255, 255, 20%)

.header-logo
    position absolute
    top 50%
    left 0
    transform translateY(-50%)

.header-nav
    display flex
    padding 0
    margin 0
    list-style none

    &-item
        display inline-block
        padding 30px 28px
        font-size 16px
        transition all .48s;
        @apply text-red-700
