include ./qianli-ghost-button.pug
include ./qianli-badge-title.pug
include ./qianli-button-group.pug
include ./qianli-button.pug
include ./qianli-breadcrumb.pug

mixin swiper(pagination = true)
  .swiper-container&attributes(attributes)
    .swiper-wrapper
      block wrapper

    if pagination
      .swiper-pagination
    else
      block pagination
