mixin qianli-ghost-button(text)
  a.qianli-ghost-button(href='javascript:;')&attributes(attributes) #{text || 'More'}
    span.qianli-ghost-button__icon
      img(src="//localhost:3000/image/more.png")
