mixin qianli-badge-title([firstWord, lastWord], cn)
  h2.qianli-badge-title&attributes(attributes)
    p.qianli-badge-title__en
      b #{firstWord}
      b #{lastWord}
    p.qianli-badge-title__cn
      b #{cn}
